{
  "openapi": "3.0.0",
  "info": {
    "title": "intro",
    "description": "API documentation for audio generation services",
    "version": "1.0.0",
    "contact": {
      "name": "Technical Support",
      "email": "support@api.box"
    }
  },
  "tags": [
    {
      "name": "Music Generation",
      "description": "Endpoints for creating and managing music generation tasks"
    },
    {
      "name": "Lyrics Generation",
      "description": "Endpoints for lyrics generation and management"
    },
    {
      "name": "WAV Conversion",
      "description": "Endpoints for converting music to WAV format"
    },
    {
      "name": "Vocal Removal",
      "description": "Endpoints for vocal removal from music tracks"
    },
    {
      "name": "Music Video Generation",
      "description": "Endpoints for generating MP4 videos from music tracks"
    },
    {
      "name": "Account Management",
      "description": "Endpoints for account and credits management"
    }
  ],
  "servers": [
    {
      "url": "https://apibox.erweima.ai",
      "description": "API Server"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "# 🔑 API Authentication\n\nAll endpoints require authentication using Bearer Token.\n\n## Get API Key\n\n1. Visit the [API Key Management Page](https://api.box/api-key) to obtain your API Key\n\n## Usage\n\nAdd to request headers:\n\n```\nAuthorization: Bearer YOUR_API_KEY\n```\n\n> **⚠️ Note:**\n> - Keep your API Key secure and do not share it with others\n> - If you suspect your API Key has been compromised, reset it immediately from the management page"
      }
    },
    "schemas": {
      "ApiResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "# Status Codes\n\n- ✅ 200 - Request successful\n- ⚠️ 400 - Invalid parameters\n- ⚠️ 401 - Unauthorized access\n- ⚠️ 404 - Invalid request method or path\n- ⚠️ 405 - Rate limit exceeded\n- ⚠️ 413 - Theme or prompt too long\n- ⚠️ 429 - Insufficient credits\n- ⚠️ 430 - Your call frequency is too high. Please try again later.\n- ⚠️ 455 - System maintenance\n- ❌ 500 - Server error",
            "example": 200,
            "enum": [
              200,
              400,
              401,
              404,
              405,
              413,
              429,
              430,
              455,
              500
            ]
          },
          "msg": {
            "type": "string",
            "description": "Error message when code != 200",
            "example": "success"
          }
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Server error"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/api/v1/generate": {
      "post": {
        "operationId": "generate-music",
        "summary": "Generate Music",
        "description": "Generate music with or without lyrics using AI models.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "customMode",
                  "instrumental",
                  "callBackUrl",
                  "model"
                ],
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "A description of the desired audio content. Optional.\n- Custom mode (`customMode=true`): When provided, the prompt is used strictly as lyrics and sung in the generated track. If `lyrics` is also provided, `lyrics` takes priority. Character limits by model:\n  - **V4 (Discontinued)**: Maximum 3000 characters\n  - **V4_5, V4_5PLUS, V4_5ALL, V5_5, V5 (Discontinued)**: Maximum 5000 characters\n- Non-custom mode (`customMode=false`): When provided, the prompt serves as the core idea. Lyrics are generated automatically based on it and do not strictly match the input. Maximum 3000 characters.\n`prompt` is not required. In non-custom mode, provide at least one of `imageUrls`, `videoUrls`, `audioUrls`, `style`, or `lyrics`. In custom mode, provide at least one of `style`, `lyrics`, or `negativeTags`. Generation is rejected if all related inputs are empty.",
                    "example": "A calm and relaxing piano track with soft melodies"
                  },
                  "lyrics": {
                    "type": "string",
                    "description": "Lyrics for the generated audio. Optional.\n- **V6, V6_MINI, V6_WILD**: Maximum 5000 characters.\n- When `customMode=true`, `lyrics` is used as lyrics first; if `lyrics` is not provided, `prompt` is used as lyrics.\n- When `customMode=false`, `lyrics` is used as a lyrics attachment and can be used together with the audio description in `prompt`.",
                    "example": "[Verse] Night city lights shining bright"
                  },
                  "imageUrls": {
                    "type": "array",
                    "description": "Image references. Only effective when `customMode=false`.\n- Optional\n- Up to 5 images; each image must not exceed 10 MB\n- Supported formats: `jpeg`, `png`, `webp`, and `bmp`\n- In non-custom mode, total attachments must not exceed 10: `style` + `lyrics` + `imageUrls` + `videoUrls` + `audioUrls`",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 5,
                    "example": [
                      "https://example.com/reference-image.png"
                    ]
                  },
                  "videoUrls": {
                    "type": "array",
                    "description": "Video references. Only effective when `customMode=false`.\n- Optional\n- Up to 1 video file; each file must not exceed 100 MB, duration must not exceed 241 seconds, with no minimum duration\n- Supported formats: mp4, mov, and webm",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 1,
                    "example": [
                      "https://example.com/reference-video.mp4"
                    ]
                  },
                  "audioUrls": {
                    "type": "array",
                    "description": "Audio references. Only effective when `customMode=false`.\n- Optional\n- Audio duration must be between 6 seconds and 30 minutes; each audio file must not exceed 500 MB",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "https://example.com/reference-audio.mp3"
                    ]
                  },
                  "style": {
                    "type": "string",
                    "description": "Music style specification for the generated audio.\n- Character limits by model:\n  - **V4 (Discontinued)**: Maximum 200 characters\n  - **V4_5 and V4_5PLUS (Discontinued)**: Maximum 1000 characters\n  - **V4_5ALL (Discontinued)**: Maximum 1000 characters\n  - **V5_5 and V5 (Discontinued)**: Maximum 1000 characters\n  - **V6, V6_MINI, and V6_WILD**: Maximum 1000 characters\n- Common examples: Jazz, Classical, Electronic, Pop, Rock, Hip-hop, etc.\n- In custom mode, provide at least one of `style`, `lyrics`, or `negativeTags`. In non-custom mode, provide at least one of `imageUrls`, `videoUrls`, `audioUrls`, `style`, or `lyrics`.",
                    "example": "Classical"
                  },
                  "title": {
                    "type": "string",
                    "description": "Title for the generated music track. Optional.\n- Only available when `customMode` is `true`. Not supported when `customMode` is `false`.\n- Maximum 80 characters.\n- Displayed in player interfaces and filenames.",
                    "maxLength": 80,
                    "example": "Peaceful Piano Meditation"
                  },
                  "customMode": {
                    "type": "boolean",
                    "description": "Determines whether advanced parameter customization is enabled.\n- If `true`: Allows detailed control\n- If `false`: Simplified mode",
                    "example": true
                  },
                  "instrumental": {
                    "type": "boolean",
                    "description": "Determines whether the audio should be instrumental (no lyrics).\n- In Custom Mode (`customMode: true`):\n  - If `true`: generate instrumental music (no vocals)\n  - If `false`: use `lyrics` as lyrics (fall back to `prompt` if `lyrics` is not provided)\n- In Non-custom Mode (`customMode: false`):\n  - If `true`: generate instrumental music (no vocals)\n  - If `false`: `lyrics` can be used as a lyrics attachment together with the audio description in `prompt`",
                    "example": true
                  },
                  "model": {
                    "type": "string",
                    "description": "The AI model version to use for generation. Required for all requests. Default: `V6`. Available options:\n- **`V6_WILD`**: Pushes creative boundaries for bolder, more distinctive musical expression.\n- **`V6_MINI`**: Lightweight and fast, balancing quality and speed for effortless creation.\n- **`V6`**: Greater musical expression with more natural vocals and richer details. Recommended default.\n- **`V5_5` (Discontinued)**: Custom models tailored to your unique taste.\n- **`V5` (Discontinued)**: Superior musical expression, faster generation.\n- **`V4_5PLUS` (Discontinued)**: V4.5+ delivers richer sound, new ways to create, max 8 min.\n- **`V4_5` (Discontinued)**: V4.5 enables smarter prompts, faster generations, max 8 min.\n- **`V4_5ALL` (Discontinued)**: V4.5ALL enables smarter prompts, faster generations, max 8 min.\n- **`V4` (Discontinued)**: V4 improves vocal quality, max 4 min.\nDiscontinued values remain listed only for backward compatibility; use a V6-series model for new integrations.",
                    "enum": [
                      "V6",
                      "V6_WILD",
                      "V6_MINI",
                      "V5_5",
                      "V5",
                      "V4_5PLUS",
                      "V4_5ALL",
                      "V4_5",
                      "V4"
                    ],
                    "example": "V6",
                    "default": "V6"
                  },
                  "callBackUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "The URL to receive task completion notifications when music generation is complete. The callback process has three stages: `text` (text generation), `first` (first track complete), `complete` (all tracks complete). Note: In some cases, `text` and `first` stages may be skipped, directly returning `complete`.\n- For detailed callback format and implementation guide, see [Music Generation Callbacks](https://docs.sunoapi.org/suno-api/generate-music-callbacks)\n- Alternatively, you can use the Get Music Generation Details interface to poll task status",
                    "example": "https://api.example.com/callback"
                  },
                  "negativeTags": {
                    "type": "string",
                    "description": "Music styles or traits to exclude from the generated audio. Optional.\n- Only available when `customMode` is `true`. Do not pass this field when `customMode` is `false`.\n- For V6, V6_MINI, and V6_WILD: maximum 1000 characters.\n- In custom mode, provide at least one of `style`, `lyrics`, or `negativeTags`.",
                    "maxLength": 1000,
                    "example": "Heavy Metal, Upbeat Drums"
                  },
                  "vocalGender": {
                    "type": "string",
                    "description": "Vocal gender preference. Optional.\n- Only available when `customMode` is `true`. Do not pass this field when `customMode` is `false`.\n- Use `m` for male and `f` for female.\n- In practice, this only increases probability and cannot guarantee male/female voice instructions are followed.",
                    "enum": [
                      "m",
                      "f"
                    ],
                    "example": "m"
                  },
                  "styleWeight": {
                    "type": "number",
                    "description": "Only available when Custom Mode (`customMode: true`) is enabled. Strength of adherence to the specified style. Optional. Range 0–1, up to 2 decimal places.",
                    "minimum": 0,
                    "maximum": 1,
                    "multipleOf": 0.01,
                    "example": 0.65
                  },
                  "weirdnessConstraint": {
                    "type": "number",
                    "description": "Only available when Custom Mode (`customMode: true`) is enabled. Controls experimental/creative deviation. Optional. Range 0–1, up to 2 decimal places.",
                    "minimum": 0,
                    "maximum": 1,
                    "multipleOf": 0.01,
                    "example": 0.65
                  },
                  "audioWeight": {
                    "type": "number",
                    "description": "Only available when Custom Mode (`customMode: true`) is enabled. Relative weight of audio features. Optional. Range 0–1, up to 2 decimal places.\n- `audioWeight` is not supported when there are no vocals",
                    "minimum": 0,
                    "maximum": 1,
                    "multipleOf": 0.01,
                    "example": 0.65
                  },
                  "variety": {
                    "type": "number",
                    "description": "Only available when Custom Mode (`customMode: true`) is enabled. Controls the diversity and stylistic variation of generated results. Optional. Range 0–4, integer, default 1.\n\n- **`0`**: off (exact style) — fully off, strictly the same style\n- **`1`**: normal (balanced variety) — default, balances stability and diversity\n- **`2`**: high (distinct styles) — produces results with clearly different styles\n- **`3`**: extra (bold exploration) — higher variation, encourages bold exploration of different styles\n- **`4`**: max (unreasonably varied) — maximum diversity; results may differ in style very significantly",
                    "minimum": 0,
                    "maximum": 4,
                    "multipleOf": 1,
                    "default": 1,
                    "example": 1
                  },
                  "personaId": {
                    "type": "string",
                    "description": "Persona ID or Voice ID to apply to the generated music. Optional. Use this to apply a specific persona style to your music generation.\n\nTo generate a Persona ID, use the [Generate Persona](https://docs.sunoapi.org/suno-api/generate-persona) endpoint to create a personalized music Persona based on generated music.\n\nTo generate a Voice ID, use the [Generate Voice](https://docs.sunoapi.org/suno-api/suno-voice-generate) endpoint. When using a Voice-generated ID, you must set `personaModel: voice_persona`.",
                    "example": "persona_123"
                  },
                  "personaModel": {
                    "type": "string",
                    "description": "Persona model. Optional `style_persona` or `voice_persona`. Only available for `V5` (Discontinued), `V5_5` (Discontinued), `V6`, `V6_MINI`, and `V6_WILD`.\n- `style_persona` (default): Use this for Persona IDs generated by the Generate Persona endpoint.\n- `voice_persona`: Required when `personaId` is a `voiceId` generated by Suno Voice.",
                    "enum": [
                      "style_persona",
                      "voice_persona"
                    ],
                    "default": "style_persona",
                    "example": "style_persona"
                  },
                  "duration": {
                    "type": "number",
                    "description": "Audio duration in seconds. Optional.\n- Only available when `customMode` is `true`. Do not pass this field when `customMode` is `false`.\n- Range: 10–360 seconds. Default: 20.\n- Only valid when the model is `V5_5` (Discontinued), `V6`, `V6_MINI`, or `V6_WILD`.",
                    "minimum": 10,
                    "maximum": 360,
                    "default": 20,
                    "example": 20
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "taskId": {
                              "type": "string",
                              "description": "Task ID for tracking task status",
                              "example": "5c79****be8e"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        },
        "callbacks": {
          "audioGenerated": {
            "{request.body#/callBackUrl}": {
              "post": {
                "description": "System will call this callback when audio generation is complete.\n\n### Callback Example\n```json\n{\n  \"code\": 200,\n  \"msg\": \"All generated successfully.\",\n  \"data\": {\n    \"callbackType\": \"complete\",\n    \"task_id\": \"2fac****9f72\",\n    \"data\": [\n      {\n        \"id\": \"8551****662c\",\n        \"audio_url\": \"https://example.cn/****.mp3\",\n        \"source_audio_url\": \"https://example.cn/****.mp3\",\n        \"stream_audio_url\": \"https://example.cn/****\",\n        \"source_stream_audio_url\": \"https://example.cn/****\",\n        \"image_url\": \"https://example.cn/****.jpeg\",\n        \"source_image_url\": \"https://example.cn/****.jpeg\",\n        \"prompt\": \"[Verse] Night city lights shining bright\",\n        \"model_name\": \"chirp-v3-5\",\n        \"title\": \"Iron Man\",\n        \"tags\": \"electrifying, rock\",\n        \"createTime\": \"2025-01-01 00:00:00\",\n        \"duration\": 198.44\n      },\n      {\n        \"id\": \"bd15****1873\",\n        \"audio_url\": \"https://example.cn/****.mp3\",\n        \"source_audio_url\": \"https://example.cn/****.mp3\",\n        \"stream_audio_url\": \"https://example.cn/****\",\n        \"source_stream_audio_url\": \"https://example.cn/****\",\n        \"image_url\": \"https://example.cn/****.jpeg\",\n        \"source_image_url\": \"https://example.cn/****.jpeg\",\n        \"prompt\": \"[Verse] Night city lights shining bright\",\n        \"model_name\": \"chirp-v3-5\",\n        \"title\": \"Iron Man\",\n        \"tags\": \"electrifying, rock\",\n        \"createTime\": \"2025-01-01 00:00:00\",\n        \"duration\": 228.28\n      }\n    ]\n  }\n}\n```",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "integer",
                            "description": "Status code",
                            "example": 200
                          },
                          "msg": {
                            "type": "string",
                            "description": "Response message",
                            "example": "All generated successfully"
                          },
                          "data": {
                            "type": "object",
                            "properties": {
                              "callbackType": {
                                "type": "string",
                                "description": "Callback type: text (text generation complete), first (first track complete), complete (all tracks complete)",
                                "enum": [
                                  "text",
                                  "first",
                                  "complete"
                                ]
                              },
                              "task_id": {
                                "type": "string",
                                "description": "Task ID"
                              },
                              "data": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "description": "Audio unique identifier (audioId)"
                                    },
                                    "audio_url": {
                                      "type": "string",
                                      "description": "Audio file URL"
                                    },
                                    "source_audio_url": {
                                      "type": "string",
                                      "description": "(Deprecated) Original audio file URL",
                                      "deprecated": true
                                    },
                                    "stream_audio_url": {
                                      "type": "string",
                                      "description": "Streaming audio URL"
                                    },
                                    "source_stream_audio_url": {
                                      "type": "string",
                                      "description": "Original streaming audio URL"
                                    },
                                    "image_url": {
                                      "type": "string",
                                      "description": "Cover image URL"
                                    },
                                    "source_image_url": {
                                      "type": "string",
                                      "description": "Original cover image URL"
                                    },
                                    "prompt": {
                                      "type": "string",
                                      "description": "Generation prompt/lyrics"
                                    },
                                    "model_name": {
                                      "type": "string",
                                      "description": "Model name used"
                                    },
                                    "title": {
                                      "type": "string",
                                      "description": "Music title"
                                    },
                                    "tags": {
                                      "type": "string",
                                      "description": "Music tags"
                                    },
                                    "createTime": {
                                      "type": "string",
                                      "description": "Creation time",
                                      "format": "date-time"
                                    },
                                    "duration": {
                                      "type": "number",
                                      "description": "Audio duration (seconds)"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "Callback received successfully"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/generate/extend": {
      "post": {
        "operationId": "extend-music",
        "summary": "Extend Music",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "audioId",
                  "callBackUrl",
                  "model"
                ],
                "properties": {
                  "instrumental": {
                    "type": "boolean",
                    "description": "Whether the extended music should be instrumental (without vocals). Optional. If `true`, neither `prompt` nor `vocalGender` may be provided.",
                    "default": false,
                    "example": false
                  },
                  "audioId": {
                    "type": "string",
                    "description": "Audio ID of the track to extend. Required. With a source audio ID, generation can proceed; `lyrics` (or `prompt`), `title`, and `style` are optional.",
                    "example": "e231****-****-****-****-****8cadc7dc"
                  },
                  "taskId": {
                    "type": "string",
                    "description": "Unique identifier of the original music generation task that produced the source audio. Optional. Can be a taskId returned from Generate Music (`/api/v1/generate`) or a previous Extend Music (`/api/v1/generate/extend`) request.",
                    "example": "5c79****be8e"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Lyrics content. Optional. Used as lyrics when `lyrics` is not provided. If `lyrics` is also provided, `lyrics` takes priority and this field is not used as lyrics.\n- **V4 (Deprecated)**: Maximum 3000 characters\n- **V4_5, V4_5PLUS, V4_5ALL, V5, V5_5 (Deprecated)**: Maximum 5000 characters\n- **V6, V6_WILD, V6_MINI**: Maximum 5000 characters",
                    "example": "[Verse] Night city lights shining bright"
                  },
                  "lyrics": {
                    "type": "string",
                    "description": "Lyrics for the generated audio. Optional. For V6, V6_MINI, and V6_WILD: maximum 5000 characters. Takes priority over `prompt` as lyrics. If omitted, `prompt` is used as lyrics.",
                    "example": "[Verse] Night city lights shining bright"
                  },
                  "style": {
                    "type": "string",
                    "description": "Music style, e.g. Jazz, Classical, or Electronic. Optional. For V6, V6_WILD, and V6_MINI: maximum 1000 characters.\n- **V4 (Deprecated)**: Maximum 200 characters\n- **V4_5, V4_5PLUS, V4_5ALL, V5, V5_5 (Deprecated)**: Maximum 1000 characters",
                    "example": "Classical"
                  },
                  "title": {
                    "type": "string",
                    "description": "Music title. Optional. Maximum 100 characters.",
                    "maxLength": 100,
                    "example": "Peaceful Piano Extended"
                  },
                  "continueAt": {
                    "type": "number",
                    "description": "The time point (in seconds) from which to start extending the music. Optional.\n- Value range: greater than 0 and less than the total duration of the source audio.\n- Specifies the position in the original track where the extension should begin.",
                    "example": 60
                  },
                  "personaId": {
                    "type": "string",
                    "description": "Persona ID to apply to the generated music. Optional. You can use either:\n\n- A Persona ID generated by the [Generate Persona](https://docs.api.box/suno-api/generate-persona) endpoint. Use `personaModel: style_persona` or omit `personaModel` to use the default.\n- A `voiceId` generated by the [Suno Voice](https://docs.api.box/suno-api/suno-voice-generate) workflow. When using a voice-generated ID, you must set `personaModel: voice_persona`.",
                    "example": "persona_123"
                  },
                  "personaModel": {
                    "type": "string",
                    "description": "Persona model type to apply when using `personaId`. Optional.\n- `style_persona` (default): Use this for Persona IDs generated by the Generate Persona endpoint.\n- `voice_persona`: Required when `personaId` is a `voiceId` generated by Suno Voice. This option is only available with V5 (Deprecated), V5_5 (Deprecated), V6, V6_WILD, and V6_MINI models.",
                    "enum": [
                      "style_persona",
                      "voice_persona"
                    ],
                    "default": "style_persona",
                    "example": "style_persona"
                  },
                  "model": {
                    "type": "string",
                    "description": "AI model version. Default: `V6`.\n- **`V6`**: Current standard model and recommended default.\n- **`V6_WILD`**: Current model for more experimental and creative results.\n- **`V6_MINI`**: Current lightweight model.\n- **Deprecated**: `V5_5`, `V5`, `V4_5PLUS`, `V4_5ALL`, `V4_5`, and `V4`. These values remain listed only for backward compatibility; use a V6-series model for new integrations.",
                    "enum": [
                      "V6",
                      "V6_WILD",
                      "V6_MINI",
                      "V5_5",
                      "V5",
                      "V4_5PLUS",
                      "V4_5ALL",
                      "V4_5",
                      "V4"
                    ],
                    "example": "V6",
                    "default": "V6"
                  },
                  "negativeTags": {
                    "type": "string",
                    "description": "Music styles to exclude from generation",
                    "example": "Relaxing Piano"
                  },
                  "callBackUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "The URL to receive task completion notifications when music extension is complete.\n- For detailed callback format and implementation guide, see [Music Extension Callbacks](https://docs.api.box/suno-api/extend-music-callbacks)\n- Alternatively, you can use the Get Music Generation Details interface to poll task status",
                    "example": "https://api.example.com/callback"
                  },
                  "vocalGender": {
                    "type": "string",
                    "description": "Preferred vocal gender. Optional. Allowed values: `m` (male), `f` (female). Must not be provided when `instrumental` is `true`.",
                    "enum": [
                      "m",
                      "f"
                    ],
                    "example": "m"
                  },
                  "styleWeight": {
                    "type": "number",
                    "description": "Style adherence weight. Optional. Range: 0-1. Two decimal places recommended.",
                    "minimum": 0,
                    "maximum": 1,
                    "multipleOf": 0.01,
                    "example": 0.65
                  },
                  "weirdnessConstraint": {
                    "type": "number",
                    "description": "Creativity/novelty constraint. Optional. Range: 0-1. Two decimal places recommended.",
                    "minimum": 0,
                    "maximum": 1,
                    "multipleOf": 0.01,
                    "example": 0.65
                  },
                  "audioWeight": {
                    "type": "number",
                    "description": "Relative weight of audio consistency versus other controls. Optional. Range: 0-1. Two decimal places recommended.",
                    "minimum": 0,
                    "maximum": 1,
                    "multipleOf": 0.01,
                    "example": 0.65
                  },
                  "variety": {
                    "type": "number",
                    "description": "Controls the diversity and stylistic variation of generated results. Optional. Integer from 0–4, default 1.\n\n- **`0`**: off (exact style) — fully off, strictly the same style\n- **`1`**: normal (balanced variety) — default, balances stability and diversity\n- **`2`**: high (distinct styles) — produces results with clearly different styles\n- **`3`**: extra (bold exploration) — higher variation, encourages bold exploration of different styles\n- **`4`**: max (unreasonably varied) — maximum diversity; results may differ in style very significantly",
                    "minimum": 0,
                    "maximum": 4,
                    "multipleOf": 1,
                    "default": 1,
                    "example": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "taskId": {
                              "type": "string",
                              "description": "Task ID for tracking task status",
                              "example": "5c79****be8e"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        },
        "callbacks": {
          "audioExtend": {
            "{$request.body#/callBackUrl}": {
              "post": {
                "description": "System will call this callback when audio generation is complete.\n\n### Callback Example\n```json\n{\n  \"code\": 200,\n  \"msg\": \"All generated successfully.\",\n  \"data\": {\n    \"callbackType\": \"complete\",\n    \"task_id\": \"2fac****9f72\",\n    \"data\": [\n      {\n        \"id\": \"8551****662c\",\n        \"audio_url\": \"https://example.cn/****.mp3\",\n        \"source_audio_url\": \"https://example.cn/****.mp3\",\n        \"stream_audio_url\": \"https://example.cn/****\",\n        \"source_stream_audio_url\": \"https://example.cn/****\",\n        \"image_url\": \"https://example.cn/****.jpeg\",\n        \"source_image_url\": \"https://example.cn/****.jpeg\",\n        \"prompt\": \"[Verse] Night city lights shining bright\",\n        \"model_name\": \"chirp-v3-5\",\n        \"title\": \"Iron Man\",\n        \"tags\": \"electrifying, rock\",\n        \"createTime\": \"2025-01-01 00:00:00\",\n        \"duration\": 198.44\n      }\n    ]\n  }\n}\n```",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "integer",
                            "description": "Status code",
                            "example": 200
                          },
                          "msg": {
                            "type": "string",
                            "description": "Response message",
                            "example": "All generated successfully"
                          },
                          "data": {
                            "type": "object",
                            "properties": {
                              "callbackType": {
                                "type": "string",
                                "description": "Callback type: text (text generation complete), first (first track complete), complete (all tracks complete)",
                                "enum": [
                                  "text",
                                  "first",
                                  "complete"
                                ]
                              },
                              "task_id": {
                                "type": "string",
                                "description": "Task ID"
                              },
                              "data": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "description": "Audio unique identifier (audioId)"
                                    },
                                    "audio_url": {
                                      "type": "string",
                                      "description": "Audio file URL"
                                    },
                                    "source_audio_url": {
                                      "type": "string",
                                      "description": "(Deprecated) Original audio file URL",
                                      "deprecated": true
                                    },
                                    "stream_audio_url": {
                                      "type": "string",
                                      "description": "Streaming audio URL"
                                    },
                                    "source_stream_audio_url": {
                                      "type": "string",
                                      "description": "Original streaming audio URL"
                                    },
                                    "image_url": {
                                      "type": "string",
                                      "description": "Cover image URL"
                                    },
                                    "source_image_url": {
                                      "type": "string",
                                      "description": "Original cover image URL"
                                    },
                                    "prompt": {
                                      "type": "string",
                                      "description": "Generation prompt/lyrics"
                                    },
                                    "model_name": {
                                      "type": "string",
                                      "description": "Model name used"
                                    },
                                    "title": {
                                      "type": "string",
                                      "description": "Music title"
                                    },
                                    "tags": {
                                      "type": "string",
                                      "description": "Music tags"
                                    },
                                    "createTime": {
                                      "type": "string",
                                      "description": "Creation time",
                                      "format": "date-time"
                                    },
                                    "duration": {
                                      "type": "number",
                                      "description": "Audio duration (seconds)"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "Callback received successfully"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/generate/upload-cover": {
      "post": {
        "operationId": "upload-and-cover-audio",
        "summary": "Upload And Cover Audio",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "uploadUrl",
                  "callBackUrl",
                  "model"
                ],
                "properties": {
                  "uploadUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "The URL of the source audio file to cover. Required. With a source audio URL, generation can proceed; `lyrics` (or `prompt`), `title`, and `style` are optional.\n\n**Upload Audio Duration Limits:** Maximum upload duration is **8 minutes**",
                    "example": "https://storage.example.com/upload"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Lyrics content. Optional. Used as lyrics when `lyrics` is not provided. If `lyrics` is also provided, `lyrics` takes priority and this field is not used as lyrics.\n- **V4 (Deprecated)**: Maximum 3000 characters\n- **V4_5, V4_5PLUS, V4_5ALL, V5, V5_5 (Deprecated)**: Maximum 5000 characters\n- **V6, V6_WILD, V6_MINI**: Maximum 5000 characters",
                    "example": "[Verse] Night city lights shining bright"
                  },
                  "lyrics": {
                    "type": "string",
                    "description": "Lyrics for the generated audio. Optional. For V6, V6_MINI, and V6_WILD: maximum 5000 characters. Takes priority over `prompt` as lyrics. If omitted, `prompt` is used as lyrics.",
                    "example": "[Verse] Night city lights shining bright"
                  },
                  "style": {
                    "type": "string",
                    "description": "Music style, e.g. Jazz, Classical, or Electronic. Optional. For V6, V6_WILD, and V6_MINI: maximum 1000 characters.\n- **V4 (Deprecated)**: Maximum 200 characters\n- **V4_5, V4_5PLUS, V4_5ALL, V5, V5_5 (Deprecated)**: Maximum 1000 characters",
                    "example": "Classical"
                  },
                  "title": {
                    "type": "string",
                    "description": "Music title. Optional. Maximum 80 characters.",
                    "maxLength": 80,
                    "example": "Peaceful Piano Meditation"
                  },
                  "instrumental": {
                    "type": "boolean",
                    "description": "Determines if the audio should be instrumental (no lyrics). Optional. Defaults to `false`.",
                    "example": true
                  },
                  "personaId": {
                    "type": "string",
                    "description": "Persona ID to apply to the generated music. Optional. You can use either:\n\n- A Persona ID generated by the [Generate Persona](https://docs.api.box/suno-api/generate-persona) endpoint. Use `personaModel: style_persona` or omit `personaModel` to use the default.\n- A `voiceId` generated by the [Suno Voice](https://docs.api.box/suno-api/suno-voice-generate) workflow. When using a voice-generated ID, you must set `personaModel: voice_persona`.",
                    "example": "persona_123"
                  },
                  "personaModel": {
                    "type": "string",
                    "description": "Persona model type to apply when using `personaId`. Optional.\n- `style_persona` (default): Use this for Persona IDs generated by the Generate Persona endpoint.\n- `voice_persona`: Required when `personaId` is a `voiceId` generated by Suno Voice. This option is only available with V5 (Deprecated), V5_5 (Deprecated), V6, V6_WILD, and V6_MINI models.",
                    "enum": [
                      "style_persona",
                      "voice_persona"
                    ],
                    "default": "style_persona",
                    "example": "style_persona"
                  },
                  "model": {
                    "type": "string",
                    "description": "AI model version. Default: `V6`.\n- **`V6`**: Current standard model and recommended default.\n- **`V6_WILD`**: Current model for more experimental and creative results.\n- **`V6_MINI`**: Current lightweight model.\n- **Deprecated**: `V5_5`, `V5`, `V4_5PLUS`, `V4_5ALL`, `V4_5`, and `V4`. These values remain listed only for backward compatibility; use a V6-series model for new integrations.",
                    "enum": [
                      "V6",
                      "V6_WILD",
                      "V6_MINI",
                      "V5_5",
                      "V5",
                      "V4_5PLUS",
                      "V4_5ALL",
                      "V4_5",
                      "V4"
                    ],
                    "example": "V6",
                    "default": "V6"
                  },
                  "negativeTags": {
                    "type": "string",
                    "description": "Music styles or traits to exclude from the generated audio.  \n- Optional. Use to avoid specific styles.  \n  Example: \"Heavy Metal, Upbeat Drums\"",
                    "example": "Heavy Metal, Upbeat Drums"
                  },
                  "callBackUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "The URL to receive task completion notifications when upload and cover audio is complete. The callback process has three stages: `text` (text generation), `first` (first track complete), `complete` (all tracks complete). Note: In some cases, `text` and `first` stages may be skipped, directly returning `complete`.\n- For detailed callback format and implementation guide, see [Upload and Cover Audio Callbacks](https://docs.api.box/suno-api/upload-and-cover-audio-callbacks)\n- Alternatively, you can use the Get Music Generation Details interface to poll task status",
                    "example": "https://api.example.com/callback"
                  },
                  "vocalGender": {
                    "type": "string",
                    "description": "Preferred vocal gender. Optional. Allowed values: `m` (male), `f` (female).",
                    "enum": [
                      "m",
                      "f"
                    ],
                    "example": "m"
                  },
                  "styleWeight": {
                    "type": "number",
                    "description": "Style adherence weight. Optional. Range 0–1, up to 2 decimal places.",
                    "minimum": 0,
                    "maximum": 1,
                    "multipleOf": 0.01,
                    "example": 0.65
                  },
                  "weirdnessConstraint": {
                    "type": "number",
                    "description": "Creativity/novelty constraint. Optional. Range 0–1, up to 2 decimal places.",
                    "minimum": 0,
                    "maximum": 1,
                    "multipleOf": 0.01,
                    "example": 0.65
                  },
                  "audioWeight": {
                    "type": "number",
                    "description": "Relative weight of audio consistency versus other controls. Optional. Range 0–1, up to 2 decimal places.",
                    "minimum": 0,
                    "maximum": 1,
                    "multipleOf": 0.01,
                    "example": 0.65
                  },
                  "variety": {
                    "type": "number",
                    "description": "Controls the diversity and stylistic variation of generated results. Optional. Integer from 0–4, default 1.\n\n- **`0`**: off (exact style) — fully off, strictly the same style\n- **`1`**: normal (balanced variety) — default, balances stability and diversity\n- **`2`**: high (distinct styles) — produces results with clearly different styles\n- **`3`**: extra (bold exploration) — higher variation, encourages bold exploration of different styles\n- **`4`**: max (unreasonably varied) — maximum diversity; results may differ in style very significantly",
                    "minimum": 0,
                    "maximum": 4,
                    "multipleOf": 1,
                    "default": 1,
                    "example": 1
                  },
                  "duration": {
                    "type": "integer",
                    "description": "Duration in seconds. Optional. Range 10–360. Only valid when the model is `V5_5` (Deprecated), `V6`, `V6_WILD`, or `V6_MINI`.",
                    "minimum": 10,
                    "maximum": 360,
                    "example": 20
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "taskId": {
                              "type": "string",
                              "description": "Task ID for tracking task status",
                              "example": "5c79****be8e"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        },
        "callbacks": {
          "audioGenerated": {
            "{request.body#/callBackUrl}": {
              "post": {
                "description": "System will call this callback when audio generation is complete.\n\n### Callback Example\n```json\n{\n  \"code\": 200,\n  \"msg\": \"All generated successfully.\",\n  \"data\": {\n    \"callbackType\": \"complete\",\n    \"task_id\": \"2fac****9f72\",\n    \"data\": [\n      {\n        \"id\": \"8551****662c\",\n        \"audio_url\": \"https://example.cn/****.mp3\",\n        \"source_audio_url\": \"https://example.cn/****.mp3\",\n        \"stream_audio_url\": \"https://example.cn/****\",\n        \"source_stream_audio_url\": \"https://example.cn/****\",\n        \"image_url\": \"https://example.cn/****.jpeg\",\n        \"source_image_url\": \"https://example.cn/****.jpeg\",\n        \"prompt\": \"[Verse] Night city lights shining bright\",\n        \"model_name\": \"chirp-v3-5\",\n        \"title\": \"Iron Man\",\n        \"tags\": \"electrifying, rock\",\n        \"createTime\": \"2025-01-01 00:00:00\",\n        \"duration\": 198.44\n      },\n      {\n        \"id\": \"bd15****1873\",\n        \"audio_url\": \"https://example.cn/****.mp3\",\n        \"source_audio_url\": \"https://example.cn/****.mp3\",\n        \"stream_audio_url\": \"https://example.cn/****\",\n        \"source_stream_audio_url\": \"https://example.cn/****\",\n        \"image_url\": \"https://example.cn/****.jpeg\",\n        \"source_image_url\": \"https://example.cn/****.jpeg\",\n        \"prompt\": \"[Verse] Night city lights shining bright\",\n        \"model_name\": \"chirp-v3-5\",\n        \"title\": \"Iron Man\",\n        \"tags\": \"electrifying, rock\",\n        \"createTime\": \"2025-01-01 00:00:00\",\n        \"duration\": 228.28\n      }\n    ]\n  }\n}\n```",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "integer",
                            "description": "Status code",
                            "example": 200
                          },
                          "msg": {
                            "type": "string",
                            "description": "Response message",
                            "example": "All generated successfully"
                          },
                          "data": {
                            "type": "object",
                            "properties": {
                              "callbackType": {
                                "type": "string",
                                "description": "Callback type: text (text generation complete), first (first track complete), complete (all tracks complete)",
                                "enum": [
                                  "text",
                                  "first",
                                  "complete"
                                ]
                              },
                              "task_id": {
                                "type": "string",
                                "description": "Task ID"
                              },
                              "data": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "description": "Audio unique identifier (audioId)"
                                    },
                                    "audio_url": {
                                      "type": "string",
                                      "description": "Audio file URL"
                                    },
                                    "source_audio_url": {
                                      "type": "string",
                                      "description": "(Deprecated) Original audio file URL",
                                      "deprecated": true
                                    },
                                    "stream_audio_url": {
                                      "type": "string",
                                      "description": "Streaming audio URL"
                                    },
                                    "source_stream_audio_url": {
                                      "type": "string",
                                      "description": "Original streaming audio URL"
                                    },
                                    "image_url": {
                                      "type": "string",
                                      "description": "Cover image URL"
                                    },
                                    "source_image_url": {
                                      "type": "string",
                                      "description": "Original cover image URL"
                                    },
                                    "prompt": {
                                      "type": "string",
                                      "description": "Generation prompt/lyrics"
                                    },
                                    "model_name": {
                                      "type": "string",
                                      "description": "Model name used"
                                    },
                                    "title": {
                                      "type": "string",
                                      "description": "Music title"
                                    },
                                    "tags": {
                                      "type": "string",
                                      "description": "Music tags"
                                    },
                                    "createTime": {
                                      "type": "string",
                                      "description": "Creation time",
                                      "format": "date-time"
                                    },
                                    "duration": {
                                      "type": "number",
                                      "description": "Audio duration (seconds)"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "Callback received successfully"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/generate/upload-extend": {
      "post": {
        "operationId": "upload-and-extend-audio",
        "summary": "Upload And Extend Audio",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "uploadUrl",
                  "callBackUrl",
                  "model"
                ],
                "properties": {
                  "uploadUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "The URL of the source audio file to extend. Required. With a source audio URL, generation can proceed; `lyrics` (or `prompt`), `title`, and `style` are optional. Ensure the uploaded audio does not exceed 8 minutes in length.",
                    "example": "https://storage.example.com/upload"
                  },
                  "instrumental": {
                    "type": "boolean",
                    "description": "Determines whether the audio should be instrumental (without lyrics). Optional. Defaults to `false`.",
                    "default": false,
                    "example": false
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Lyrics content. Optional. Used as lyrics when `lyrics` is not provided. If `lyrics` is also provided, `lyrics` takes priority and this field is not used as lyrics.\n- **V4 (Deprecated)**: Maximum 3000 characters\n- **V4_5, V4_5PLUS, V4_5ALL, V5, V5_5 (Deprecated)**: Maximum 5000 characters\n- **V6, V6_WILD, V6_MINI**: Maximum 5000 characters",
                    "example": "[Verse] Night city lights shining bright"
                  },
                  "lyrics": {
                    "type": "string",
                    "description": "Lyrics for the generated audio. Optional. For V6, V6_MINI, and V6_WILD: maximum 5000 characters. Takes priority over `prompt` as lyrics. If omitted, `prompt` is used as lyrics.",
                    "example": "[Verse] Night city lights shining bright"
                  },
                  "style": {
                    "type": "string",
                    "description": "Music style, e.g. Jazz, Classical, or Electronic. Optional. For V6, V6_WILD, and V6_MINI: maximum 1000 characters.\n- **V4 (Deprecated)**: Maximum 200 characters\n- **V4_5, V4_5PLUS, V4_5ALL, V5, V5_5 (Deprecated)**: Maximum 1000 characters",
                    "example": "Classical"
                  },
                  "title": {
                    "type": "string",
                    "description": "Music title. Optional. Maximum 100 characters.",
                    "maxLength": 100,
                    "example": "Peaceful Piano Extended"
                  },
                  "continueAt": {
                    "type": "number",
                    "description": "The time point (in seconds) from which to start extending the music. Optional.\n- Value range: greater than 0 and less than the total duration of the uploaded audio.\n- Specifies the position in the original track where the extension should begin.",
                    "example": 60
                  },
                  "personaId": {
                    "type": "string",
                    "description": "Persona ID to apply to the generated music. Optional. You can use either:\n\n- A Persona ID generated by the [Generate Persona](https://docs.api.box/suno-api/generate-persona) endpoint. Use `personaModel: style_persona` or omit `personaModel` to use the default.\n- A `voiceId` generated by the [Suno Voice](https://docs.api.box/suno-api/suno-voice-generate) workflow. When using a voice-generated ID, you must set `personaModel: voice_persona`.",
                    "example": "persona_123"
                  },
                  "personaModel": {
                    "type": "string",
                    "description": "Persona model type to apply when using `personaId`. Optional.\n- `style_persona` (default): Use this for Persona IDs generated by the Generate Persona endpoint.\n- `voice_persona`: Required when `personaId` is a `voiceId` generated by Suno Voice. This option is only available with V5 (Deprecated), V5_5 (Deprecated), V6, V6_WILD, and V6_MINI models.",
                    "enum": [
                      "style_persona",
                      "voice_persona"
                    ],
                    "default": "style_persona",
                    "example": "style_persona"
                  },
                  "model": {
                    "type": "string",
                    "description": "AI model version. Default: `V6`.\n- **`V6`**: Current standard model and recommended default.\n- **`V6_WILD`**: Current model for more experimental and creative results.\n- **`V6_MINI`**: Current lightweight model.\n- **Deprecated**: `V5_5`, `V5`, `V4_5PLUS`, `V4_5ALL`, `V4_5`, and `V4`. These values remain listed only for backward compatibility; use a V6-series model for new integrations.",
                    "enum": [
                      "V6",
                      "V6_WILD",
                      "V6_MINI",
                      "V5_5",
                      "V5",
                      "V4_5PLUS",
                      "V4_5ALL",
                      "V4_5",
                      "V4"
                    ],
                    "example": "V6",
                    "default": "V6"
                  },
                  "negativeTags": {
                    "type": "string",
                    "description": "Music styles to exclude from generation",
                    "example": "Relaxing Piano"
                  },
                  "callBackUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "The URL to receive task completion notifications when upload and extend audio is complete. The callback process has three stages: `text` (text generation), `first` (first track complete), `complete` (all tracks complete). Note: In some cases, `text` and `first` stages may be skipped, directly returning `complete`.\n- For detailed callback format and implementation guide, see [Upload and Extend Audio Callbacks](https://docs.api.box/suno-api/upload-and-extend-audio-callbacks)\n- Alternatively, you can use the Get Music Generation Details interface to poll task status",
                    "example": "https://api.example.com/callback"
                  },
                  "vocalGender": {
                    "type": "string",
                    "description": "Preferred vocal gender. Optional. Allowed values: `m` (male), `f` (female). Not required when `instrumental` is `true`.",
                    "enum": [
                      "m",
                      "f"
                    ],
                    "example": "m"
                  },
                  "styleWeight": {
                    "type": "number",
                    "description": "Style adherence weight. Optional. Range: 0-1. Two decimal places recommended.",
                    "minimum": 0,
                    "maximum": 1,
                    "multipleOf": 0.01,
                    "example": 0.65
                  },
                  "weirdnessConstraint": {
                    "type": "number",
                    "description": "Creativity/novelty constraint. Optional. Range: 0-1. Two decimal places recommended.",
                    "minimum": 0,
                    "maximum": 1,
                    "multipleOf": 0.01,
                    "example": 0.65
                  },
                  "audioWeight": {
                    "type": "number",
                    "description": "Relative weight of audio consistency versus other controls. Optional. Range: 0-1. Two decimal places recommended.",
                    "minimum": 0,
                    "maximum": 1,
                    "multipleOf": 0.01,
                    "example": 0.65
                  },
                  "variety": {
                    "type": "number",
                    "description": "Controls the diversity and stylistic variation of generated results. Optional. Integer from 0–4, default 1.\n\n- **`0`**: off (exact style) — fully off, strictly the same style\n- **`1`**: normal (balanced variety) — default, balances stability and diversity\n- **`2`**: high (distinct styles) — produces results with clearly different styles\n- **`3`**: extra (bold exploration) — higher variation, encourages bold exploration of different styles\n- **`4`**: max (unreasonably varied) — maximum diversity; results may differ in style very significantly",
                    "minimum": 0,
                    "maximum": 4,
                    "multipleOf": 1,
                    "default": 1,
                    "example": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "taskId": {
                              "type": "string",
                              "description": "Task ID for tracking task status",
                              "example": "5c79****be8e"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        },
        "callbacks": {
          "audioExtend": {
            "{$request.body#/callBackUrl}": {
              "post": {
                "description": "System will call this callback when audio generation is complete.\n\n### Callback Example\n```json\n{\n  \"code\": 200,\n  \"msg\": \"All generated successfully.\",\n  \"data\": {\n    \"callbackType\": \"complete\",\n    \"task_id\": \"2fac****9f72\",\n    \"data\": [\n      {\n        \"id\": \"8551****662c\",\n        \"audio_url\": \"https://example.cn/****.mp3\",\n        \"source_audio_url\": \"https://example.cn/****.mp3\",\n        \"stream_audio_url\": \"https://example.cn/****\",\n        \"source_stream_audio_url\": \"https://example.cn/****\",\n        \"image_url\": \"https://example.cn/****.jpeg\",\n        \"source_image_url\": \"https://example.cn/****.jpeg\",\n        \"prompt\": \"[Verse] Night city lights shining bright\",\n        \"model_name\": \"chirp-v3-5\",\n        \"title\": \"Iron Man\",\n        \"tags\": \"electrifying, rock\",\n        \"createTime\": \"2025-01-01 00:00:00\",\n        \"duration\": 198.44\n      }\n    ]\n  }\n}\n```",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "integer",
                            "description": "Status code",
                            "example": 200
                          },
                          "msg": {
                            "type": "string",
                            "description": "Response message",
                            "example": "All generated successfully"
                          },
                          "data": {
                            "type": "object",
                            "properties": {
                              "callbackType": {
                                "type": "string",
                                "description": "Callback type: text (text generation complete), first (first track complete), complete (all tracks complete)",
                                "enum": [
                                  "text",
                                  "first",
                                  "complete"
                                ]
                              },
                              "task_id": {
                                "type": "string",
                                "description": "Task ID"
                              },
                              "data": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "description": "Audio unique identifier (audioId)"
                                    },
                                    "audio_url": {
                                      "type": "string",
                                      "description": "Audio file URL"
                                    },
                                    "source_audio_url": {
                                      "type": "string",
                                      "description": "(Deprecated) Original audio file URL",
                                      "deprecated": true
                                    },
                                    "stream_audio_url": {
                                      "type": "string",
                                      "description": "Streaming audio URL"
                                    },
                                    "source_stream_audio_url": {
                                      "type": "string",
                                      "description": "Original streaming audio URL"
                                    },
                                    "image_url": {
                                      "type": "string",
                                      "description": "Cover image URL"
                                    },
                                    "source_image_url": {
                                      "type": "string",
                                      "description": "Original cover image URL"
                                    },
                                    "prompt": {
                                      "type": "string",
                                      "description": "Generation prompt/lyrics"
                                    },
                                    "model_name": {
                                      "type": "string",
                                      "description": "Model name used"
                                    },
                                    "title": {
                                      "type": "string",
                                      "description": "Music title"
                                    },
                                    "tags": {
                                      "type": "string",
                                      "description": "Music tags"
                                    },
                                    "createTime": {
                                      "type": "string",
                                      "description": "Creation time",
                                      "format": "date-time"
                                    },
                                    "duration": {
                                      "type": "number",
                                      "description": "Audio duration (seconds)"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "Callback received successfully"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/generate/add-instrumental": {
      "post": {
        "operationId": "add-instrumental",
        "summary": "Add Instrumental",
        "tags": [
          "Music Generation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "uploadUrl",
                  "title",
                  "negativeTags",
                  "tags",
                  "callBackUrl"
                ],
                "properties": {
                  "uploadUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "The URL of the uploaded music file to add instrumental to.  \n- Required.  \n- Must be a valid audio file URL accessible by the system.  \n- The uploaded audio should be in a supported format (MP3, WAV, etc.).",
                    "example": "https://example.com/music.mp3"
                  },
                  "title": {
                    "type": "string",
                    "description": "The title of the music track.  \n- Required.  \n- This will be used as the title for the generated instrumental track.",
                    "example": "Relaxing Piano"
                  },
                  "negativeTags": {
                    "type": "string",
                    "description": "Music styles or traits to exclude from the generated instrumental.  \n- Required.  \n- Use to avoid specific styles or instruments in the instrumental version.  \n  Example: \"Heavy Metal, Aggressive Drums\"",
                    "example": "Heavy Metal, Aggressive Drums"
                  },
                  "tags": {
                    "type": "string",
                    "description": "Music style and characteristics for the instrumental.  \n- Required.  \n- Describe the desired style, mood, and instruments for the instrumental track.  \n  Example: \"Relaxing Piano, Ambient, Peaceful\"",
                    "example": "Relaxing Piano, Ambient, Peaceful"
                  },
                  "lyrics": {
                    "type": "string",
                    "description": "Lyrics content. Optional. For V6, V6_MINI, and V6_WILD: maximum 5000 characters. Lyrics for the generated track.",
                    "example": "[Verse] Night city lights shining bright"
                  },
                  "callBackUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "The URL to receive task completion notifications when instrumental generation is complete. The callback process has three stages: `text` (text generation), `first` (first track complete), `complete` (all tracks complete). Note: In some cases, `text` and `first` stages may be skipped, directly returning `complete`.\n- For detailed callback format and implementation guide, see [Add Instrumental Callbacks](https://docs.api.box/suno-api/add-instrumental-callbacks)\n- Alternatively, you can use the Get Music Generation Details interface to poll task status",
                    "example": "https://api.example.com/callback"
                  },
                  "vocalGender": {
                    "type": "string",
                    "description": "Preferred vocal gender for any vocal elements. Optional. Allowed values: 'm' (male), 'f' (female).",
                    "enum": [
                      "m",
                      "f"
                    ],
                    "example": "m"
                  },
                  "styleWeight": {
                    "type": "number",
                    "description": "Style adherence weight. Optional. Range: 0-1. Two decimal places recommended.",
                    "minimum": 0,
                    "maximum": 1,
                    "multipleOf": 0.01,
                    "example": 0.61
                  },
                  "weirdnessConstraint": {
                    "type": "number",
                    "description": "Creativity/novelty constraint. Optional. Range: 0-1. Two decimal places recommended.",
                    "minimum": 0,
                    "maximum": 1,
                    "multipleOf": 0.01,
                    "example": 0.72
                  },
                  "audioWeight": {
                    "type": "number",
                    "description": "Relative weight of audio consistency versus other controls. Optional. Range: 0-1. Two decimal places recommended.",
                    "minimum": 0,
                    "maximum": 1,
                    "multipleOf": 0.01,
                    "example": 0.65
                  },
                  "variety": {
                    "type": "number",
                    "description": "Controls the diversity and stylistic variation of generated results. Optional. Integer from 0–4, default 1.\n\n- **`0`**: off (exact style) — fully off, strictly the same style\n- **`1`**: normal (balanced variety) — default, balances stability and diversity\n- **`2`**: high (distinct styles) — produces results with clearly different styles\n- **`3`**: extra (bold exploration) — higher variation, encourages bold exploration of different styles\n- **`4`**: max (unreasonably varied) — maximum diversity; results may differ in style very significantly",
                    "minimum": 0,
                    "maximum": 4,
                    "multipleOf": 1,
                    "default": 1,
                    "example": 1
                  },
                  "model": {
                    "type": "string",
                    "description": "AI model version. Default: `V6`.\n- **`V6`**: Current standard model and recommended default.\n- **`V6_WILD`**: Current model for more experimental and creative results.\n- **`V6_MINI`**: Current lightweight model.\n- **Deprecated**: `V5_5`, `V5`, `V4_5PLUS`, `V4_5ALL`, `V4_5`, and `V4`. These values remain listed only for backward compatibility; use a V6-series model for new integrations.",
                    "enum": [
                      "V6",
                      "V6_WILD",
                      "V6_MINI",
                      "V5_5",
                      "V5",
                      "V4_5PLUS",
                      "V4_5ALL",
                      "V4_5",
                      "V4"
                    ],
                    "default": "V6",
                    "example": "V6"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "taskId": {
                              "type": "string",
                              "description": "Task ID for tracking task status",
                              "example": "5c79****be8e"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        },
        "callbacks": {
          "instrumentalAdded": {
            "{request.body#/callBackUrl}": {
              "post": {
                "description": "System will call this callback when instrumental generation is complete.\n\n### Callback Example\n```json\n{\n  \"code\": 200,\n  \"msg\": \"All generated successfully.\",\n  \"data\": {\n    \"callbackType\": \"complete\",\n    \"task_id\": \"2fac****9f72\",\n    \"data\": [\n      {\n        \"id\": \"8551****662c\",\n        \"audio_url\": \"https://example.cn/****.mp3\",\n        \"source_audio_url\": \"https://example.cn/****.mp3\",\n        \"stream_audio_url\": \"https://example.cn/****\",\n        \"source_stream_audio_url\": \"https://example.cn/****\",\n        \"image_url\": \"https://example.cn/****.jpeg\",\n        \"source_image_url\": \"https://example.cn/****.jpeg\",\n        \"prompt\": \"[Instrumental] Relaxing piano melody\",\n        \"model_name\": \"chirp-v3-5\",\n        \"title\": \"Relaxing Piano Instrumental\",\n        \"tags\": \"relaxing, piano, instrumental\",\n        \"createTime\": \"2025-01-01 00:00:00\",\n        \"duration\": 198.44\n      }\n    ]\n  }\n}\n```",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "integer",
                            "description": "Status code",
                            "example": 200
                          },
                          "msg": {
                            "type": "string",
                            "description": "Response message",
                            "example": "All generated successfully"
                          },
                          "data": {
                            "type": "object",
                            "properties": {
                              "callbackType": {
                                "type": "string",
                                "description": "Callback type: text (text generation complete), first (first track complete), complete (all tracks complete)",
                                "enum": [
                                  "text",
                                  "first",
                                  "complete"
                                ]
                              },
                              "task_id": {
                                "type": "string",
                                "description": "Task ID"
                              },
                              "data": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "description": "Audio unique identifier (audioId)"
                                    },
                                    "audio_url": {
                                      "type": "string",
                                      "description": "Audio file URL"
                                    },
                                    "source_audio_url": {
                                      "type": "string",
                                      "description": "(Deprecated) Original audio file URL",
                                      "deprecated": true
                                    },
                                    "stream_audio_url": {
                                      "type": "string",
                                      "description": "Streaming audio URL"
                                    },
                                    "source_stream_audio_url": {
                                      "type": "string",
                                      "description": "Original streaming audio URL"
                                    },
                                    "image_url": {
                                      "type": "string",
                                      "description": "Cover image URL"
                                    },
                                    "source_image_url": {
                                      "type": "string",
                                      "description": "Original cover image URL"
                                    },
                                    "prompt": {
                                      "type": "string",
                                      "description": "Generation prompt/lyrics"
                                    },
                                    "model_name": {
                                      "type": "string",
                                      "description": "Model name used"
                                    },
                                    "title": {
                                      "type": "string",
                                      "description": "Music title"
                                    },
                                    "tags": {
                                      "type": "string",
                                      "description": "Music tags"
                                    },
                                    "createTime": {
                                      "type": "string",
                                      "description": "Creation time",
                                      "format": "date-time"
                                    },
                                    "duration": {
                                      "type": "number",
                                      "description": "Audio duration (seconds)"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "Callback received successfully"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/generate/add-vocals": {
      "post": {
        "operationId": "add-vocals",
        "summary": "Add Vocals",
        "tags": [
          "Music Generation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "uploadUrl",
                  "callBackUrl",
                  "title",
                  "negativeTags",
                  "style"
                ],
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "Lyrics content. Optional. Used as lyrics when `lyrics` is not provided. If `lyrics` is also provided, `lyrics` takes priority. For V6, V6_MINI, and V6_WILD: maximum 5000 characters.",
                    "example": "A calm and relaxing piano track with soothing vocals"
                  },
                  "lyrics": {
                    "type": "string",
                    "description": "Lyrics for the generated audio. Optional. For V6, V6_MINI, and V6_WILD: maximum 5000 characters. Takes priority over `prompt` as lyrics. If omitted, `prompt` is used as lyrics.",
                    "example": "[Verse] Night city lights shining bright"
                  },
                  "title": {
                    "type": "string",
                    "description": "The title of the music track.  \n- Required.  \n- This will be used as the title for the generated vocal track.",
                    "example": "Relaxing Piano with Vocals"
                  },
                  "negativeTags": {
                    "type": "string",
                    "description": "Music styles or vocal traits to exclude from the generated track.  \n- Required.  \n- Use to avoid specific vocal styles or characteristics.  \n  Example: \"Heavy Metal, Aggressive Vocals\"",
                    "example": "Heavy Metal, Aggressive Vocals"
                  },
                  "style": {
                    "type": "string",
                    "description": "The music and vocal style.  \n- Required.  \n- Examples: \"Jazz\", \"Classical\", \"Electronic\", \"Pop\".  \n- Describes the overall genre and vocal approach.",
                    "example": "Jazz"
                  },
                  "vocalGender": {
                    "type": "string",
                    "description": "Preferred vocal gender. Optional. Allowed values: 'm' (male), 'f' (female).",
                    "enum": [
                      "m",
                      "f"
                    ],
                    "example": "m"
                  },
                  "styleWeight": {
                    "type": "number",
                    "description": "Style adherence weight. Optional. Range: 0-1. Two decimal places recommended.",
                    "minimum": 0,
                    "maximum": 1,
                    "multipleOf": 0.01,
                    "example": 0.61
                  },
                  "weirdnessConstraint": {
                    "type": "number",
                    "description": "Creativity/novelty constraint. Optional. Range: 0-1. Two decimal places recommended.",
                    "minimum": 0,
                    "maximum": 1,
                    "multipleOf": 0.01,
                    "example": 0.72
                  },
                  "audioWeight": {
                    "type": "number",
                    "description": "Relative weight of audio consistency versus other controls. Optional. Range: 0-1. Two decimal places recommended.",
                    "minimum": 0,
                    "maximum": 1,
                    "multipleOf": 0.01,
                    "example": 0.65
                  },
                  "variety": {
                    "type": "number",
                    "description": "Controls the diversity and stylistic variation of generated results. Optional. Integer from 0–4, default 1.\n\n- **`0`**: off (exact style) — fully off, strictly the same style\n- **`1`**: normal (balanced variety) — default, balances stability and diversity\n- **`2`**: high (distinct styles) — produces results with clearly different styles\n- **`3`**: extra (bold exploration) — higher variation, encourages bold exploration of different styles\n- **`4`**: max (unreasonably varied) — maximum diversity; results may differ in style very significantly",
                    "minimum": 0,
                    "maximum": 4,
                    "multipleOf": 1,
                    "default": 1,
                    "example": 1
                  },
                  "uploadUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "The URL of the uploaded audio file to add vocals to.  \n- Required.  \n- Must be a valid audio file URL accessible by the system.  \n- The uploaded audio should be in a supported format (MP3, WAV, etc.).",
                    "example": "https://example.com/instrumental.mp3"
                  },
                  "callBackUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "The URL to receive task completion notifications when vocal generation is complete. The callback process has three stages: `text` (text generation), `first` (first track complete), `complete` (all tracks complete). Note: In some cases, `text` and `first` stages may be skipped, directly returning `complete`.\n- For detailed callback format and implementation guide, see [Add Vocals Callbacks](https://docs.api.box/suno-api/add-vocals-callbacks)\n- Alternatively, you can use the Get Music Generation Details interface to poll task status",
                    "example": "https://api.example.com/callback"
                  },
                  "model": {
                    "type": "string",
                    "description": "AI model version. Default: `V6`.\n- **`V6`**: Current standard model and recommended default.\n- **`V6_WILD`**: Current model for more experimental and creative results.\n- **`V6_MINI`**: Current lightweight model.\n- **Deprecated**: `V5_5`, `V5`, `V4_5PLUS`, `V4_5ALL`, `V4_5`, and `V4`. These values remain listed only for backward compatibility; use a V6-series model for new integrations.",
                    "enum": [
                      "V6",
                      "V6_WILD",
                      "V6_MINI",
                      "V5_5",
                      "V5",
                      "V4_5PLUS",
                      "V4_5ALL",
                      "V4_5",
                      "V4"
                    ],
                    "default": "V6",
                    "example": "V6"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "taskId": {
                              "type": "string",
                              "description": "Task ID for tracking task status",
                              "example": "5c79****be8e"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        },
        "callbacks": {
          "vocalsAdded": {
            "{request.body#/callBackUrl}": {
              "post": {
                "description": "System will call this callback when vocal generation is complete.\n\n### Callback Example\n```json\n{\n  \"code\": 200,\n  \"msg\": \"All generated successfully.\",\n  \"data\": {\n    \"callbackType\": \"complete\",\n    \"task_id\": \"2fac****9f72\",\n    \"data\": [\n      {\n        \"id\": \"8551****662c\",\n        \"audio_url\": \"https://example.cn/****.mp3\",\n        \"source_audio_url\": \"https://example.cn/****.mp3\",\n        \"stream_audio_url\": \"https://example.cn/****\",\n        \"source_stream_audio_url\": \"https://example.cn/****\",\n        \"image_url\": \"https://example.cn/****.jpeg\",\n        \"source_image_url\": \"https://example.cn/****.jpeg\",\n        \"prompt\": \"[Verse] Calm and relaxing melodies with soothing vocals\",\n        \"model_name\": \"chirp-v3-5\",\n        \"title\": \"Relaxing Piano with Vocals\",\n        \"tags\": \"relaxing, piano, vocals, jazz\",\n        \"createTime\": \"2025-01-01 00:00:00\",\n        \"duration\": 198.44\n      }\n    ]\n  }\n}\n```",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "integer",
                            "description": "Status code",
                            "example": 200
                          },
                          "msg": {
                            "type": "string",
                            "description": "Response message",
                            "example": "All generated successfully"
                          },
                          "data": {
                            "type": "object",
                            "properties": {
                              "callbackType": {
                                "type": "string",
                                "description": "Callback type: text (text generation complete), first (first track complete), complete (all tracks complete)",
                                "enum": [
                                  "text",
                                  "first",
                                  "complete"
                                ]
                              },
                              "task_id": {
                                "type": "string",
                                "description": "Task ID"
                              },
                              "data": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "description": "Audio unique identifier (audioId)"
[...]
